body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header--main {
    font-weight: normal;
    font-size: 50px;
    color: #fff;
}

.link--cta {
    font-size: 16px;
    color: aquamarine;
}

.h2--header {
    font-weight: 300;
    font-size: 42px;
    color: #fff;
}

.h4--sub{
    font-size: 21px;
    color: gray;
}